.parallaxKMDAirport,
.parallaxComingSoon,
.parallaxAirportsList {
    height: 60vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallaxContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.parallaxText {
    color: white;
    font-size: 50px;
    font-family: 'GidoleFont', sans-serif;
}

.airportsInfo {
    font-family: GidoleFont, sans-serif;
    font-weight: lighter;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 6px;
    padding: 10px;
    width: 70%;
}

.parallaxText,
.airportsInfo {
    margin: 10px 0; /* Add some margin for spacing */
}
  
.parallaxBtn {
    display: flex;
    display: inline-block;
    cursor: pointer;
    color: rgb(42, 42, 54);
    font-family: 'GidoleFont', sans-serif;
    font-weight: Bold;
    font-size: larger;
    background-color: white;
    width: 400px;
    border-radius: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.parallaxBtnFake {
    display: flex;
    display: inline-block;
    cursor: not-allowed;
    color: rgb(42, 42, 54);
    font-family: 'GidoleFont', sans-serif;
    font-weight: Bold;
    font-size: larger;
    background-color: rgb(118, 118, 118);
    width: 400px;
    border-radius: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}